@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /*  import google fonts, font inter usada nos menus */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #009DE0;
    
}

html{
    scroll-behavior: smooth;
}

header{

    width: 100%;
    height: 4em;
    background-color: #FFBC27;
 

}

/*  *************** COMPONENTES HEADER ****************/

/*  personalizando os menus mobiles que ficaram escondidos */
nav.mobile{

    float: right;
    height: auto;
    width: 100%;

}

nav.mobile > i{/* MEXENDO NO CSS DO HAMBURGUE , NAV MOBILE */

    position: relative;
    top: 0.5em;
    right: 0.5em;
    float: right;
    font-size: 2em;
    color: #009DE0;
    cursor: pointer;/* TORNOU O ICON CLICAVEL */
  
    
}

nav.mobile ul{/* MEXENDO NO CSS DO HAMBURGUE , NAV MOBILE */
 
    position: absolute;
    right: 0;
    top: 4em;
    width: 100%;
    background: #FFBC27;
    list-style-type: none;
    z-index: 1000;
    display: none;
}

nav.mobile li{/* MEXENDO NO CSS DO HAMBURGUE , NAV MOBILE */

    font-weight: lighter;
    border-bottom: 2px solid #036691;
    text-align: center;
    padding: 0.5em 0;

}


nav.mobile a{/* MEXENDO NO CSS DO HAMBURGUE , NAV MOBILE */
    padding: 0;
    display: block;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #009DE0;
    font-weight: bold;
    text-transform: uppercase;/* DEIXAR TUDO EM MAIUSCULO */

}

nav .logo-mobile{

    width: 30%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo-mobile img{

    width: 70px;
    height: 45px;
}
nav .desktop{
    
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    
}

nav .desktop ul{

    display: flex;
    list-style: none;
    gap: 5em;
    
}




.bandeiras{

    width: 50%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
}

.bandeiras-imgs{

    width: 100%;
    
    gap: 1em;
    
}

.bandeiras-imgs img{

    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*  *************** FOTO DO PRESIDENTE E VICE E BORDEL ****************/

.container-bordel{

    position: relative;
    top: 5em;
    width: 100%;
    height: auto;
    background-color: #FFBC27;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.bordel-fotos{

    width: 100%;
    flex-direction: row;
}

.texto-presidente{

    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50%;
}

.texto-presidente h4{

    font-size: 18px;
    color: #009DE0;
    
}

.texto-presidente p{

    font-size: 20px;
    color: #009DE0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.foto-presidente{
    width: 60%;
    height: auto;
   
}

.foto-presidente img{

    width: 250px;
    height: 400px;
}


/*  *************** SOBRE NÓS ****************/
.sobre-nos{

    position: relative;
    top: 8em;
    width: 100%;
    height: auto;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 3em;
    padding: 1em;

}

.sobre-nos h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    
}


.text-sobre{

    width: 90%;
    margin: 0 auto;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-weight: 500;
    
}
/*  *************** EQUIPE ****************/
.equipe{

    position: relative;
    top: 10em;
    width: 100%;
    height: auto;
    background-color: #009DE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.deputadas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.deputada-giovana{

    width: 90%;
    margin: 0 auto;
    background-color: #FFBC27;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.texto-gi{

    width: 80%;
    height: auto;
    background-color: #009DE0;
    border-radius: 8px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-weight: bold;
}



.deputada-giovana img{

    width: 250px;
    
}

.deputada-luiza{
    width: 90%;
    margin: 0 auto;
    background-color: #FFBC27;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.texto-lu{

    width: 80%;
    height: auto;
    background-color: #009DE0;
    border-radius: 8px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-weight: bold;
}

.deputada-luiza img{

    width: 250px;
}
/*  *************** ACÕES ****************/

.acoes{

    position: relative;
    top: 15em;
    width: auto;
    height: auto;
    background-color: #FFBC27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 1em;
}
.linha-centro{

    display: none;
    width: 0.9em;
    height: 100%;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    background-color: #FFF;
}

.card-acoes-1{

    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: .9em;
    border-radius: 50%;
}

main img{

    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card-acoes-2{
    
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: .9em;
    border-radius: 50%;
}

.card-acoes-3{

    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: .9em;
    border-radius: 50%;
}

/*  ***************  CADASTRO EMAIL E PROPOSTAS ****************/
.propostas{

    position: relative;
    top: 15em;
    background-image: url('/Assets/Img/png/foto_adv\ 3.png');
    width: 100%;
    height: auto;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{

    width: 100%;
    height: auto;

}

.formulario form{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    gap: 2em;
    padding: 1.5em;
}

.formulario form button{

    background-color: #009DE0;
    width: 40%;
    height: 3em;
    border-radius: 8px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
}

.logo-form img{

    width: 100px;
}

.elementos-form{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.elementos-form input{

    width: 90%;
    height: 2.5em;
    background-color: #009de0b9;
    border: none;
    padding: .3em;
    border-radius: 8px;
    outline: none;
}

.elementos-form input::-webkit-input-placeholder{
 
    color: #FFF;
    font-weight: bold;
}

.elementos-form textarea{

    width: 90%;
    height: 8em;
    border: none;
    background-color: #009de0b9;
    padding: 0.5em;
    border-radius: 8px;
    overflow: auto;
    outline: none;
    color: #FFF;
    font-weight: bold;
}

.elementos-form textarea::-webkit-input-placeholder{

    color: #FFF;
    font-weight: 500;
}

footer{

    width: 100%;
    height: auto;
    background-color: #009DE0;
    position: relative;
    top: 20em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4em;
    flex-direction: column;
    gap: 2em;
}

footer div{

    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;   
}

footer div ul{

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;

}

footer div ul a,li{

    color: #FFF;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1em;
}

.acesso-rapido{
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


.acesso-rapido ul{

    width: 80%;
    text-align: center;
}
.acesso-rapido h1{

    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    
}

.redes-socias{

    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: #006E9D;
    display: flex;
    justify-content: space-around;
}

.redes-socias div img{

    width: 20px;
    height: 20px;
}


.insta{

    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.insta a{

    text-decoration: none;
    color: #FFF;
    font-size: 12px;
}

.tiktok{

    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tiktok a{

    text-decoration: none;
    color: #FFF;
    font-size: 12px;
}

.contato{

    width: 100%;

}

.contato ul{

    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (max-width:300px) {
    

    .texto-presidente h4{
    
        font-size: 12px;
        color: #009DE0;
        
    }
    
    .texto-presidente p{
    
        font-size: 15px;
        color: #009DE0;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }

    .foto-presidente img{
    
        width: 200px;
        height: 350px;
    }

}